[submodule "magnum-integration"]
	path = magnum-integration
	url = https://github.com/mosra/magnum-integration
[submodule "magnum"]
	path = magnum
	url = https://github.com/mosra/magnum
[submodule "corrade"]
	path = corrade
	url = https://github.com/mosra/corrade
[submodule "rxmd"]
	path = rxmd
	url = https://github.com/USCCACS/RXMD.git
[submodule "toolchains"]
	path = toolchains
	url = https://github.com/mosra/toolchains
